:root{
    --bs-body-color:#ffffff;
}

.bg-auth, .bg-guest {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.bg-auth{
    background-image: url(../images/bg-auth.png);
}

.bg-guest{
    background-image: url(../images/bg.png);
}

.card{
    background: rgba(30, 41, 59, 0.85); /* azul grafite translúcido */
    backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 2.5rem;
    box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.6),
    inset 0 1px 0 rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.08);
    max-width: 500px;
    height: 800px;
 
}

.form-control{
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: #fff;
}

.form-control::placeholder{
    color: #ddd;
}

.form-control:focus{
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 0 0.2rem rgba(13, 202, 240, 0.25);
    color: #fff;
}
.btn{
  background: linear-gradient(135deg, #0dcaf0, #2563eb);
  border: none;
  font-weight: 600;
  
}

.btn:hover{
  background: linear-gradient(135deg, #2563eb, #0dcaf0);
}

a {
    text-decoration: none;
    color: #0dcaf0;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #6c757d;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ddd;
}

.divider:not(:empty)::before {
    margin-right: 10px;
}

.divider:not(:empty)::after {
    margin-left: 10px;
}

.btn-google {
   color: #fff;
   border-radius: 50%;
}

i:hover {
    color: rgb(208, 53, 53);

}